body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.bolum {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center; /* Ortala */
}

.bolum-gorsel {
    max-width: 100%; /* Responsive görsel */
    height: auto; /* Orantılı boyut */
    margin-bottom: 10px;
}

.izle-butonu {
    background-color: #28a745; /* Yeşil buton */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.izle-butonu:hover {
    background-color: #218838; /* Hover rengi */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: relative; /* Düzgün footer */
    bottom: 0;
}
